@import "tailwindcss";

:root {
  --neon-blue: #00f3ff;
  --neon-purple: #bc13fe;
  --dark-bg: #09090b;
  --panel-bg: rgba(24, 24, 27, 0.7);
}

body {
  background-color: var(--dark-bg);
  color: #fff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
